/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


/ {
    chosen {
      zmk,matrix_transform = &five_column_transform;
    };

    behaviors {
        // ==== Home Row Mods <section begins> =====
        // TODO: Consider using the fast config for the thumb so that the mouse and
        // and arrow layers are accessible faster.

        #define FAST_HOLDING_TIME 160
        #define SLOW_HOLDING_TIME 300

        // Index finger.
        mod_fast: hrm_mod_fast {
            compatible = "zmk,behavior-hold-tap";
            flavor = "tap-preferred";
            tapping-term-ms = <FAST_HOLDING_TIME>;
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        // Middle finger.
        layer_fast: hrm_layer_fast {
            compatible = "zmk,behavior-hold-tap";
            flavor = "tap-preferred";
            tapping-term-ms = <FAST_HOLDING_TIME>;
            #binding-cells = <2>;
            bindings = <&mo>, <&kp>;
        };

        // Ring finger & pinky finger.
        mod_slow: hrm_mod_slow {
            compatible = "zmk,behavior-hold-tap";
            flavor = "tap-preferred";
            tapping-term-ms = <SLOW_HOLDING_TIME>;
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        // Thumb.
        layer_slow: hrm_layer_slow {
            compatible = "zmk,behavior-hold-tap";
            flavor = "tap-preferred";
            tapping-term-ms = <SLOW_HOLDING_TIME>;
            #binding-cells = <2>;
            bindings = <&mo>, <&kp>;
        };
        // ==== Home Row Mods <section ends> =====
    };
        keymap {
                compatible = "zmk,keymap";
                default_layer {
                        display-name = "base"; // 0
                        bindings = <
   &kp Q                     &kp W                     &kp E               &kp R                  &kp T                       &kp Y             &kp U                    &kp I            &kp O                      &kp P
   &mod_slow LEFT_CONTROL A  &mod_slow LEFT_COMMAND S  &layer_fast 2 D     &mod_fast LEFT_SHIFT F &kp G                       &kp H             &mod_fast RIGHT_SHIFT J  &layer_fast 1 K  &mod_slow RIGHT_COMMAND L  &mod_slow RIGHT_CONTROL SEMICOLON
   &kp Z                     &kp X                     &kp C               &kp V                  &kp B                       &kp N             &kp M                    &kp COMMA        &kp DOT                    &kp FSLH
                                                       &layer_slow 0 TAB   &kp RET                &layer_slow 0 SPACE         &kp SPACE         &kp BSPC         &layer_slow 0 ESC
                        >;
                };
        };
};
